body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  margin: 150px

}
h1 {text-align: center;
    
}

ul { list-style-type: circle;
     padding-left: 50px;

}
ol {list-style-type: upper-roman;
    padding-left: 50px;
}
