body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efe7e7;
  padding: 20px;
  margin: 50px;
  border: 8px;
  border-style: solid;
  border-color: white;
  display: flex;
  width: 1000px;
  margin: auto;
}

.profile-container {
    width: 33%;
    border-right: white 4px solid;
}

.profile-img-container {
    width: 60%;
    margin: auto;
}

.profile-img {
    border-radius: 100px;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.goals {
    padding: 16px 0px;
    font-weight: bold;
}
.experience-container {
    width: 66%;
    padding-left: 12px;
}

.experience {
    text-align: center;
    padding-bottom: 16px;
    font-weight: bold;
}

.job-title,
.education {
    padding-top: 8px;
}

.description {
    border-bottom: white 4px solid;
    padding-bottom: 8px;
    padding-top: 8px;
}

ul { list-style-type: circle;
     padding-left: 50px;
     border-style: solid;
     border-color: grey;

}
ol {list-style-type: upper-roman;
    padding-left: 50px;
}
